== ADD YOUR REPLY ABOVE THIS LINE ==
<img src='http://www.wizards.com/Company/Globals/WebResource.axd?d=umW4G4h0W5kOH7-f6zeemCZxfpKtSdzNo-TU6GIEa7WKlhfFQh1lSmX4cEu0Dop19tCx70Lt42bixI-nF-pzSnhP-z-B7lFoqUSk6kuk19E1&t=634498057760344600' alt='Ticketee' />

<p>
  Hello!
</p>

<p>
  <%= @comment.user %> has just updated the <%= @comment.ticket.title %> ticket
  for <%= @comment.ticket.project.name %>. They wrote:
</p>
<blockquote><%= @comment.text %></blockquote>

<p>
  You can <%= link_to "view this ticket online here",
  project_ticket_url(@comment.ticket.project, @comment.ticket) %>
</p>