<% coder = HTMLEntities.new %>
<span style="font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 12px;">
== REPLIES TO THIS EMAIL WILL BE INSERTED AS A TICKET COMMENT AUTOMATICALLY ==
<p>
  Hello!
</p>

<p>
  <%= @comment.user.email %> has just updated the <%= @comment.ticket.title %> ticket
  for <%= @comment.ticket.project.name %>. <%= @comment.user.email %> wrote:
</p>
<blockquote>
  <%= simple_format(coder.encode(@comment.text.gsub("\r\n", "\n").
        gsub(/\t/, '    '), :named).gsub(/ {2,}/) { '&nbsp;' * $&.length }) %>
</blockquote>

<p>
  You can <%= link_to "view this ticket online here",
  project_ticket_url(@comment.ticket.project, @comment.ticket) %>
</p>
</span>