== REPLIES TO THIS EMAIL WILL BE INSERTED AS A TICKET COMMENT AUTOMATICALLY ==
<p>
  Hello!
</p>

<p>
  <%= @comment.user.email %> has just updated the <%= @comment.ticket.title %> ticket
  for <%= @comment.ticket.project.name %>. <%= @comment.user.email %> wrote:
</p>
<blockquote>
  <%= simple_format(@comment.text.gsub("<", "&lt;").gsub(">", "&gt;"),
                    {}, :sanitize => false) %>
</blockquote>

<p>
  You can <%= link_to "view this ticket online here",
  project_ticket_url(@comment.ticket.project, @comment.ticket) %>
</p>